<div id="footer">
	<a class="subscribe icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="hidethis_uber">Subscribe!</span></a>
	<p>All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</p>
	<p>Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></p>
</div>